In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Analisis inicial
Analizamos los tipos de datos que muestra el dataset.

In [3]:
df_train = pd.read_csv("salario.csv")

In [4]:
df_train.head()

,edad,trabajo,estudios,estado-civil,trabajo.1,posicion-familiar,etnia,sexo,ganancias_inversiones,perdidas_inversiones,horas-trabajo_semana,pais-origen,salario
0,39,State-gov,Bachelors,Never-married,Adm-clerical,No-en-familia,Blanco,Hombre,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Marido,Blanco,Hombre,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,No-en-familia,Blanco,Hombre,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Marido,Negro,Hombre,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Mujer,Negro,Mujer,0,0,40,Cuba,<=50K

In [5]:
df_train.info()
print('Testing Features shape: ', df_train.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27998 entries, 0 to 27997
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   edad                   27998 non-null  int64
 1   trabajo                27998 non-null  object
 2   estudios               27998 non-null  object
 3   estado-civil           27998 non-null  object
 4   trabajo.1              27998 non-null  object
 5   posicion-familiar      27998 non-null  object
 6   etnia                  27998 non-null  object
 7   sexo                   27998 non-null  object
 8   ganancias_inversiones  27998 non-null  int64
 9   perdidas_inversiones   27998 non-null  int64
 10  horas-trabajo_semana   27998 non-null  int64
 11  pais-origen            27998 non-null  object
 12  salario                27998 non-null  object
dtypes: int64(4), object(9)
memory usage: 2.8+ MB
Testing Features shape:  (27998, 13)

In [6]:
print(df_train.nunique())

edad                      72
trabajo                    9
estudios                  16
estado-civil               7
trabajo.1                 15
posicion-familiar          6
etnia                      5
sexo                       2
ganancias_inversiones    117
perdidas_inversiones      90
horas-trabajo_semana      94
pais-origen               42
salario                    2
dtype: int64

Haciendo un análisis principal del dataset, podemos obserbar que de las columnas 1 a la 7, junto a la 11 y 12 se tratan de variables categóricas.
En cuanto a las variables númericas luego deberemos tratar algun tipo de normalización o estandarización.

# Verificación de filas duplicadas
Vamos a comprobar si existen filas duplicadas en nuestro dataset, lo cual podría afectar al rendimiento y sesgar nuestro modelo.

In [18]:

duplicadas = df_train.duplicated().sum()
print(f"Número total de filas duplicadas: {duplicadas}")


porcentaje_duplicadas = (duplicadas / len(df_train)) * 100
print(f"Porcentaje de filas duplicadas: {porcentaje_duplicadas:.2f}%")


print("\nPrimeras filas duplicadas encontradas:")
df_train[df_train.duplicated()].head()

Número total de filas duplicadas: 2562
Porcentaje de filas duplicadas: 9.69%

Primeras filas duplicadas encontradas:

,edad,trabajo,estudios,estado-civil,trabajo.1,posicion-familiar,etnia,sexo,ganancias_inversiones,perdidas_inversiones,horas-trabajo_semana,pais-origen,salario
352,33,Private,Bachelors,Married-civ-spouse,Exec-managerial,Marido,Blanco,Hombre,0,0,40,United-States,>50K
391,27,Private,Bachelors,Never-married,Craft-repair,No-en-familia,Blanco,Hombre,0,0,50,United-States,<=50K
563,24,Private,HS-grad,Never-married,Handlers-cleaners,Soltero-a,Negro,Mujer,0,0,40,United-States,<=50K
570,24,Private,HS-grad,Never-married,Craft-repair,Hijo-unico,Blanco,Hombre,0,0,40,United-States,<=50K
673,33,Private,Bachelors,Married-civ-spouse,Exec-managerial,Marido,Blanco,Hombre,0,0,40,United-States,>50K

Nos encontramos con un 9.69% de filas duplicadas no es extremo, pero sí lo bastante alto como para que sea necesario revisar que hacer con ello:

- ¿Qué representan las filas?
El kaggle de la practica nos muestra que una fila esta compuesta por "12 columnas con información relevante para poder predecir el salario de una persona."

- Si cada fila representa una observación única los duplicados probablemente son errores y deberías eliminarlos.

- Si las filas representan eventos que pueden repetirse legítimamente, los duplicados podrían ser válidos, y eliminarlos podría hacerte perder información.

Analizando el significado del dataset es posible que distintas personas reales compartan exactamente las mismas características en las columnas del dataset (edad, trabajo, estado civil, etc.), especialmente si las variables son categóricas y discretas. Pero que tambien se repitan con

In [ ]:

df_train_sin_duplicados = df_train.drop_duplicates()
print(f"Filas en el dataset original: {len(df_train)}")
print(f"Filas después de eliminar duplicados: {len(df_train_sin_duplicados)}")

In [ ]:

df_train = df_train.drop_duplicates()
print("Dataset actualizado sin filas duplicadas")

# Limpieza de datos - Missing values
Buscamos y analizamos el porcentaje de NANs( valores vacios) que se encuentran en dataset, luego trataremos estos valores aplicando una estrategia:

Lo primero que nos fijamos es que la forma del dataset para representar los valores vacios, es a través del cáracter "?". Por lo que procederemos a verdaderamente vaciar dichos valores.

In [7]:
df_train.replace(r'^\s*\?\s*$', np.nan, regex=True, inplace=True)

In [8]:
print(df_train.isna().sum())

edad                        0
trabajo                  1568
estudios                    0
estado-civil                0
trabajo.1                1573
posicion-familiar           0
etnia                       0
sexo                        0
ganancias_inversiones       0
perdidas_inversiones        0
horas-trabajo_semana        0
pais-origen               495
salario                     0
dtype: int64

In [9]:
nan_por_columna = df_train.isnull().mean() * 100
pd.set_option('display.max_rows', None)
print(nan_por_columna[nan_por_columna > 0])

trabajo        5.600400
trabajo.1      5.618258
pais-origen    1.767983
dtype: float64

Solo estas 3 columnas poseen valores nulos.

In [19]:
nan_por_fila = df_train.isnull().mean(axis=1) * 100
print(nan_por_fila[nan_por_fila > 0].head(20))

14       7.692308
38       7.692308
51       7.692308
93       7.692308
245      7.692308
249      7.692308
393      7.692308
453      7.692308
557      7.692308
712      7.692308
725      7.692308
729      7.692308
777      7.692308
780      7.692308
887      7.692308
955      7.692308
1026     7.692308
1036     7.692308
1115     7.692308
1158     7.692308
1199     7.692308
1224     7.692308
1252     7.692308
1326     7.692308
1348     7.692308
1391     7.692308
1554     7.692308
1557     7.692308
1581     7.692308
1593     7.692308
1711     7.692308
1738     7.692308
1818     7.692308
1900     7.692308
1990     7.692308
2015     7.692308
2099     7.692308
2104     7.692308
2181     7.692308
2371     7.692308
2512     7.692308
2518     7.692308
2549     7.692308
2572     7.692308
2587     7.692308
2591     7.692308
2639     7.692308
2717     7.692308
2735     7.692308
2775     7.692308
2794     7.692308
2909     7.692308
2926     7.692308
3023     7.692308
3107     7.692308
3164     7.692308
3166     7.692308
3187     7.692308
3200     7.692308
3232     7.692308
3247     7.692308
3256     7.692308
3461     7.692308
3484     7.692308
3495     7.692308
3532     7.692308
3636     7.692308
3856     7.692308
3858     7.692308
4006     7.692308
4156     7.692308
4172     7.692308
4197     7.692308
4244     7.692308
4301     7.692308
4326     7.692308
4396     7.692308
4405     7.692308
4462     7.692308
4510     7.692308
4578     7.692308
4599     7.692308
4639     7.692308
4656     7.692308
4658     7.692308
4671     7.692308
4772     7.692308
4786     7.692308
4827     7.692308
5081     7.692308
5180     7.692308
5185     7.692308
5201     7.692308
5234     7.692308
5309     7.692308
5347     7.692308
5361     7.692308
5374     7.692308
5401     7.692308
5450     7.692308
5540     7.692308
5647     7.692308
5663     7.692308
5683     7.692308
5709     7.692308
5823     7.692308
5841     7.692308
5854     7.692308
5963     7.692308
6005     7.692308
6129     7.692308
6176     7.692308
6186     7.692308
6242     7.692308
6319     7.692308
6360     7.692308
6364     7.692308
6376     7.692308
6395     7.692308
6533     7.692308
6676     7.692308
6737     7.692308
6844     7.692308
7045     7.692308
7072     7.692308
7080     7.692308
7096     7.692308
7153     7.692308
7166     7.692308
7176     7.692308
7253     7.692308
7284     7.692308
7327     7.692308
7345     7.692308
7398     7.692308
7475     7.692308
7615     7.692308
7634     7.692308
7688     7.692308
7850     7.692308
7861     7.692308
7902     7.692308
7964     7.692308
7990     7.692308
8145     7.692308
8160     7.692308
8207     7.692308
8225     7.692308
8282     7.692308
8356     7.692308
8365     7.692308
8477     7.692308
8871     7.692308
8903     7.692308
8915     7.692308
9015     7.692308
9040     7.692308
9237     7.692308
9366     7.692308
9418     7.692308
9503     7.692308
9537     7.692308
9559     7.692308
9580     7.692308
9624     7.692308
9739     7.692308
9785     7.692308
9799     7.692308
9849     7.692308
9866     7.692308
9985     7.692308
10011    7.692308
10062    7.692308
10182    7.692308
10184    7.692308
10218    7.692308
10288    7.692308
10343    7.692308
10353    7.692308
10403    7.692308
10408    7.692308
10574    7.692308
10634    7.692308
10647    7.692308
10674    7.692308
10762    7.692308
10777    7.692308
10782    7.692308
10845    7.692308
11147    7.692308
11187    7.692308
11221    7.692308
11284    7.692308
11300    7.692308
11423    7.692308
11446    7.692308
11477    7.692308
11595    7.692308
11652    7.692308
11659    7.692308
11983    7.692308
11988    7.692308
12004    7.692308
12082    7.692308
12114    7.692308
12172    7.692308
12260    7.692308
12280    7.692308
12315    7.692308
12329    7.692308
12362    7.692308
12470    7.692308
12560    7.692308
12643    7.692308
12655    7.692308
12690    7.692308
12695    7.692308
12716    7.692308
12748    7.692308
12830    7.692308
12899    7.692308
12959    7.692308
12973    7.692308
13088    7.692308
13198    7.692308
13201    7.692308
13281    7.692308
13305    7.692308
13499    7.692308
13603    7.692308
13691    7.692308
13747    7.692308
13768    7.692308
13817    7.692308
13820    7.692308
13826    7.692308
13827    7.692308
13897    7.692308
13913    7.692308
13918    7.692308
13971    7.692308
14043    7.692308
14085    7.692308
14102    7.692308
14195    7.692308
14234    7.692308
14246    7.692308
14340    7.692308
14368    7.692308
14410    7.692308
14459    7.692308
14562    7.692308
14577    7.692308
14582    7.692308
14584    7.692308
14592    7.692308
14772    7.692308
14857    7.692308
15023    7.692308
15036    7.692308
15136    7.692308
15152    7.692308
15161    7.692308
15197    7.692308
15219    7.692308
15444    7.692308
15475    7.692308
15528    7.692308
15594    7.692308
15609    7.692308
15613    7.692308
15672    7.692308
15678    7.692308
15692    7.692308
15734    7.692308
15792    7.692308
15863    7.692308
15931    7.692308
15932    7.692308
15953    7.692308
15988    7.692308
16036    7.692308
16079    7.692308
16108    7.692308
16141    7.692308
16142    7.692308
16231    7.692308
16260    7.692308
16266    7.692308
16328    7.692308
16381    7.692308
16417    7.692308
16439    7.692308
16500    7.692308
16635    7.692308
16647    7.692308
16862    7.692308
16975    7.692308
17021    7.692308
17107    7.692308
17193    7.692308
17201    7.692308
17274    7.692308
17378    7.692308
17452    7.692308
17481    7.692308
17482    7.692308
17623    7.692308
17647    7.692308
17894    7.692308
18065    7.692308
18233    7.692308
18277    7.692308
18365    7.692308
18412    7.692308
18438    7.692308
18459    7.692308
18555    7.692308
18585    7.692308
18672    7.692308
18677    7.692308
18906    7.692308
18909    7.692308
18982    7.692308
19037    7.692308
19046    7.692308
19055    7.692308
19169    7.692308
19245    7.692308
19256    7.692308
19299    7.692308
19316    7.692308
19326    7.692308
19346    7.692308
19351    7.692308
19414    7.692308
19490    7.692308
19532    7.692308
19626    7.692308
19676    7.692308
19709    7.692308
19727    7.692308
19768    7.692308
19784    7.692308
19787    7.692308
19946    7.692308
19997    7.692308
20203    7.692308
20284    7.692308
20337    7.692308
20358    7.692308
20464    7.692308
20499    7.692308
20531    7.692308
20632    7.692308
20638    7.692308
20657    7.692308
20658    7.692308
20716    7.692308
20747    7.692308
20847    7.692308
21062    7.692308
21108    7.692308
21126    7.692308
21134    7.692308
21195    7.692308
21226    7.692308
21264    7.692308
21382    7.692308
21393    7.692308
21531    7.692308
21541    7.692308
21556    7.692308
21668    7.692308
21722    7.692308
21818    7.692308
22002    7.692308
22068    7.692308
22106    7.692308
22230    7.692308
22241    7.692308
22264    7.692308
22317    7.692308
22351    7.692308
22429    7.692308
22474    7.692308
22540    7.692308
22561    7.692308
22614    7.692308
22639    7.692308
22677    7.692308
22742    7.692308
22771    7.692308
22788    7.692308
22790    7.692308
22861    7.692308
22907    7.692308
22981    7.692308
23032    7.692308
23115    7.692308
23173    7.692308
23232    7.692308
23236    7.692308
23284    7.692308
23434    7.692308
23440    7.692308
23466    7.692308
23470    7.692308
23565    7.692308
23637    7.692308
23687    7.692308
23704    7.692308
23784    7.692308
23797    7.692308
23892    7.692308
24213    7.692308
24457    7.692308
24465    7.692308
24572    7.692308
24592    7.692308
24606    7.692308
24662    7.692308
24695    7.692308
24750    7.692308
24832    7.692308
24890    7.692308
24891    7.692308
24923    7.692308
24960    7.692308
24980    7.692308
25046    7.692308
25105    7.692308
25112    7.692308
25235    7.692308
25241    7.692308
25275    7.692308
25296    7.692308
25313    7.692308
25342    7.692308
25458    7.692308
25478    7.692308
25491    7.692308
25504    7.692308
25549    7.692308
25574    7.692308
25619    7.692308
25629    7.692308
25841    7.692308
25870    7.692308
26007    7.692308
26197    7.692308
26221    7.692308
26234    7.692308
26271    7.692308
26332    7.692308
26377    7.692308
26405    7.692308
26446    7.692308
26460    7.692308
26569    7.692308
26616    7.692308
26661    7.692308
26762    7.692308
26800    7.692308
26900    7.692308
26922    7.692308
26940    7.692308
26979    7.692308
27019    7.692308
27068    7.692308
27133    7.692308
27141    7.692308
27299    7.692308
27305    7.692308
27376    7.692308
27383    7.692308
27669    7.692308
dtype: float64

In [11]:
porcentaje_filas_nan = (df_train.isna().any(axis=1).mean()) * 100
print(f"Porcentaje de filas con algún un NaN: {porcentaje_filas_nan:.2f}%")

Porcentaje de filas con al menos un NaN: 7.30%

Estrategia para tratar los valores faltantes

Para tratar los valores faltantes, seguiremos la siguiente estrategia:

1. Para variables numéricas:
   - No es necesario tratar nada ya que los NANs solo aparecen en tres columnas categóricas
   
2. Para variables categóricas:
   - Debido a la proporción de filas con al menos un NANs, creemos que ese 7,3% es lo sufientemente notorio como para evitar eliminar todas esas filas, y buscar el imputar los valores, pero a su vez no es una gran parte del dataset por lo que podríamos prescindir de algunas filas.
   - Con esto en mente, hemos optado por usar dos estrategias al mismo tiempo:
        - Para las filas con 2 o más nulos. --> Se eliminan.
        - Para las filas con solo un nulo, rellenaremos ese valor a través de la moda (valor más frecuente) de su columna categórica.
   

Esta estrategia nos ayudará a mantener la distribución de los datos sin introducir sesgos significativos, a su vez que se eliminan aquellas filas con mucha información perdida.

In [12]:
# Primero, mantenemos solo las filas que tienen al menos (n_columnas - 1) valores no nulos
# Es decir: elimina las que tienen 2 o más NaN
df_train = df_train.dropna(thresh=df_train.shape[1] - 1)

In [13]:
# Segundo, separamos las columnas numéricas y categóricas
numeric_features = df_train.select_dtypes(include=['int64']).columns.tolist()
categorical_features = df_train.select_dtypes(include=['object']).columns.tolist()

print("Características numéricas:", numeric_features)
print("\nCaracterísticas categóricas:", categorical_features)

Características numéricas: ['edad', 'ganancias_inversiones', 'perdidas_inversiones', 'horas-trabajo_semana']

Características categóricas: ['trabajo', 'estudios', 'estado-civil', 'trabajo.1', 'posicion-familiar', 'etnia', 'sexo', 'pais-origen', 'salario']

A la hora de rellenar los NANs en las columnas, a su vez podemos aprovechar para realizar la codificación one-hot que hace columna binaria por categoría, ya que la inmensa mayoria de los modelos "solo entienden números" y no acepta operar directamente con texto.

¿Porque codificación One-hot?

Debido a que si las transformasemos a números los dintintos valores de una columna categórica como por ejemplo "trabajo":
Private → 1
State-gov → 2
Self-emp → 3
Los modelo interpretaría que “State-gov” está entre “Private” y “Self-emp”, lo cual no tiene sentido no hay orden natural entre categorías, solo serviría para columnas donde esta relacion si exista, y posibles valores son por ejemplo “bajo”, “medio”, “alto”.

El One-hot al crear columna binaria por categoría, rompe esta posible relación que no aplica.

In [14]:
# pipeline de preprocesamiento solo para variables categóricas
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ("encoder", OneHotEncoder(handle_unknown="ignore", sparse_output=False))  # Usamos OneHotEncoder para transformar los datos categóricos
])

# Aplicamos la transformación solo a las columnas categóricas
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features)
    ],
    remainder='passthrough'  # Esto mantiene las columnas numéricas sin modificar
)

# Ajustamos y transformamos los datos
transformed = preprocessor.fit_transform(df_train)
print(transformed.shape)

(26430, 105)

In [15]:
encoder = preprocessor.named_transformers_['cat'].named_steps['encoder']
encoded_cols = encoder.get_feature_names_out(categorical_features)
all_columns = list(encoded_cols) + numeric_features

print(all_columns)  # Número total de columnas después de la transformación

['trabajo_ Federal-gov', 'trabajo_ Local-gov', 'trabajo_ Never-worked', 'trabajo_ Private', 'trabajo_ Self-emp-inc', 'trabajo_ Self-emp-not-inc', 'trabajo_ State-gov', 'trabajo_ Without-pay', 'estudios_ 10th', 'estudios_ 11th', 'estudios_ 12th', 'estudios_ 1st-4th', 'estudios_ 5th-6th', 'estudios_ 7th-8th', 'estudios_ 9th', 'estudios_ Assoc-acdm', 'estudios_ Assoc-voc', 'estudios_ Bachelors', 'estudios_ Doctorate', 'estudios_ HS-grad', 'estudios_ Masters', 'estudios_ Preschool', 'estudios_ Prof-school', 'estudios_ Some-college', 'estado-civil_ Divorced', 'estado-civil_ Married-AF-spouse', 'estado-civil_ Married-civ-spouse', 'estado-civil_ Married-spouse-absent', 'estado-civil_ Never-married', 'estado-civil_ Separated', 'estado-civil_ Widowed', 'trabajo.1_ Adm-clerical', 'trabajo.1_ Armed-Forces', 'trabajo.1_ Craft-repair', 'trabajo.1_ Exec-managerial', 'trabajo.1_ Farming-fishing', 'trabajo.1_ Handlers-cleaners', 'trabajo.1_ Machine-op-inspct', 'trabajo.1_ Other-service', 'trabajo.1_ Priv-house-serv', 'trabajo.1_ Prof-specialty', 'trabajo.1_ Protective-serv', 'trabajo.1_ Sales', 'trabajo.1_ Tech-support', 'trabajo.1_ Transport-moving', 'posicion-familiar_ Hijo-unico', 'posicion-familiar_ Marido', 'posicion-familiar_ Mujer', 'posicion-familiar_ No-en-familia', 'posicion-familiar_ Otro-familiar', 'posicion-familiar_ Soltero-a', 'etnia_ Amerindio-esquimal', 'etnia_ Asiatico-Pacifico-Isleno', 'etnia_ Blanco', 'etnia_ Negro', 'etnia_ Otro', 'sexo_ Hombre', 'sexo_ Mujer', 'pais-origen_ Cambodia', 'pais-origen_ Canada', 'pais-origen_ China', 'pais-origen_ Columbia', 'pais-origen_ Cuba', 'pais-origen_ Dominican-Republic', 'pais-origen_ Ecuador', 'pais-origen_ El-Salvador', 'pais-origen_ England', 'pais-origen_ France', 'pais-origen_ Germany', 'pais-origen_ Greece', 'pais-origen_ Guatemala', 'pais-origen_ Haiti', 'pais-origen_ Holand-Netherlands', 'pais-origen_ Honduras', 'pais-origen_ Hong', 'pais-origen_ Hungary', 'pais-origen_ India', 'pais-origen_ Iran', 'pais-origen_ Ireland', 'pais-origen_ Italy', 'pais-origen_ Jamaica', 'pais-origen_ Japan', 'pais-origen_ Laos', 'pais-origen_ Mexico', 'pais-origen_ Nicaragua', 'pais-origen_ Outlying-US(Guam-USVI-etc)', 'pais-origen_ Peru', 'pais-origen_ Philippines', 'pais-origen_ Poland', 'pais-origen_ Portugal', 'pais-origen_ Puerto-Rico', 'pais-origen_ Scotland', 'pais-origen_ South', 'pais-origen_ Taiwan', 'pais-origen_ Thailand', 'pais-origen_ Trinadad&Tobago', 'pais-origen_ United-States', 'pais-origen_ Vietnam', 'pais-origen_ Yugoslavia', 'salario_ <=50K', 'salario_ >50K', 'edad', 'ganancias_inversiones', 'perdidas_inversiones', 'horas-trabajo_semana']

In [16]:
df_transformed = pd.DataFrame(transformed, columns=all_columns)
df_transformed.head()

,trabajo_ Federal-gov,trabajo_ Local-gov,trabajo_ Never-worked,trabajo_ Private,trabajo_ Self-emp-inc,trabajo_ Self-emp-not-inc,trabajo_ State-gov,trabajo_ Without-pay,estudios_ 10th,estudios_ 11th,...,pais-origen_ Trinadad&Tobago,pais-origen_ United-States,pais-origen_ Vietnam,pais-origen_ Yugoslavia,salario_ <=50K,salario_ >50K,edad,ganancias_inversiones,perdidas_inversiones,horas-trabajo_semana
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,39.0,2174.0,0.0,40.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,50.0,0.0,0.0,13.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,38.0,0.0,0.0,40.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,53.0,0.0,0.0,40.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,28.0,0.0,0.0,40.0

Hay que eliminar la columna salario_<=50k ya que es el inverso de salrio_>50K